html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: cadetblue;
}

.keys{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    width: 500px;
    margin: auto;
}

.keys > *{
    background-color: cornsilk;
    padding: 30px;
    cursor: pointer;
    border-radius: 50%;
}